.webnamae{
  font-family:Old English text MT;
}

.pan-desu{
  border-radius:10px;
}

h1{
  font-family:Helvetica;
  font-size:50px;
}


body{
  background-color: #EFEFEF;
}
.headdesu{
  margin:20px 60px 20px 60px;
}

.bodydesu{
  margin:0px 60px 20px 60px;
}

.imagedesu{
  background-color:#1F1F1F;
  border-radius:10px;
}

.img-desu{
    position: center;
    width: 100%;
}

.text-desu{
  
  padding: 20px 20px 20px 20px;
}
.imgout{
  position: center;
  margin:30px 30px 30px 30px;
  display: block;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.imgout:hover{
    position: relative;
    background-color: #FFFFFF;
   // width: 115%;
   // height: 115%;
   box-shadow: 2px 2px 1px gray;
    -webkit-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
}

.Laifu{
   display: block;
   margin:30px 30px 30px 30px;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.Laifu:hover{
   position: relative;
    background-color: #FFFFFF;
   // width: 115%;
   // height: 115%;
   box-shadow: 2px 2px 1px gray;
    -webkit-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
}